.CodeMirror-brunoVarInfo {
  background: white;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.45);
  box-sizing: border-box;
  font-size: 13px;
  line-height: 16px;
  margin: 8px -8px;
  max-width: 800px;
  opacity: 0;
  overflow: hidden;
  padding: 8px 8px;
  position: fixed;
  transition: opacity 0.15s;
  z-index: 50;
}

.CodeMirror-brunoVarInfo :first-child {
  margin-top: 0;
}

.CodeMirror-brunoVarInfo :last-child {
  margin-bottom: 0;
}

.CodeMirror-brunoVarInfo p {
  margin: 1em 0;
}
