.theme-light {
  --background: #ffffff;
  --text-color: #000000;
  --link-color: #1f61a0;
  --brand-color: #546de5;
  --border-color: #d6d6d6;
  --border-color-light: #e0e0e0;
  --shadow-color: #bfb063;
  --alternating-bg-color: #fbfcfc;
  --keyword-color: #b11a04;
  --type-name-color: #ca9800;
  --field-name-color: #1f61a0;
  --field-description-color: #666666;
  --enum-value-color: #0b7fc7;
  --arg-name-color: #8b2bb9;
  --arg-default-value-color: #43a047;
  --deprecation-bg-color: #fffae8;
  --deprecation-text-color: #867f70;
  --deprecation-box-shadow-color: #bfb063;
  --deprecated-label-color: #c79b2e;
  --btn-bg-color: #fbfcfc;
  --btn-text-color: #555555;
  --btn-border-color: #cccccc;
  --searchbox-border-color: #d3d6db;
  --searchbox-clear-bg-color: #d0d0d0;
  --searchbox-clear-text-color: #ffffff;
  --searchbox-clear-hover-bg-color: #b9b9b9;
  --code-color: #e01e5a;
  --code-bg-color: rgba(29, 28, 29, 0.04);
  --code-border-color: rgba(29, 28, 29, 0.13);
  --category-title-color: #777777;
  --category-item-color: #555555;
}

/* Dark Theme Variables */
.theme-dark {
  --background: #1e1e1e;
  --text-color: #d4d4d4;
  --link-color: #569cd6;
  --brand-color: #546de5;
  --border-color: #3f3f3f;
  --border-color-light: #5f5f5f;
  --shadow-color: #000000;
  --alternating-bg-color: #2e2e2e;
  --keyword-color: #f06f57;
  --type-name-color: #f59e0b;
  --field-name-color: #569cd6;
  --field-description-color: #9d9d9d;
  --enum-value-color: #569cd6;
  --arg-name-color: #cd56d6;
  --arg-default-value-color: rgb(11, 178, 126);
  --deprecation-bg-color: #3f3f3f;
  --deprecation-text-color: #d4d4d4;
  --deprecation-box-shadow-color: #5f5f5f;
  --deprecated-label-color: #f59e0b;
  --btn-bg-color: #2e2e2e;
  --btn-text-color: #d4d4d4;
  --btn-border-color: #5f5f5f;
  --searchbox-border-color: #5f5f5f;
  --searchbox-clear-bg-color: #5f5f5f;
  --searchbox-clear-text-color: #d4d4d4;
  --searchbox-clear-hover-bg-color: #6f6f6f;
  --code-color: #e01e5a;
  --code-bg-color: #333333;
  --code-border-color: #555555;
  --category-title-color: #cccccc;
  --category-item-color: #aaaaaa;
}

.graphql-docs-container .doc-explorer {
  background: var(--background);
}

.graphql-docs-container .doc-explorer-title-bar,
.graphql-docs-container .history-title-bar {
  cursor: default;
  display: flex;
  line-height: 14px;
  padding: 8px 8px 5px;
  position: relative;
  user-select: none;
}

.graphql-docs-container .doc-explorer-title,
.graphql-docs-container .history-title {
  flex: 1;
  font-weight: bold;
  overflow-x: hidden;
  padding: 10px 0 10px 10px;
  text-align: center;
  text-overflow: ellipsis;
  user-select: text;
  white-space: nowrap;
  color: var(--text-color);
}

.graphql-docs-container .doc-explorer-back {
  color: var(--text-color);
  cursor: pointer;
  margin: -7px 0 -6px -8px;
  overflow-x: hidden;
  padding: 17px 12px 16px 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: none;
  border: 0;
  line-height: 14px;
}

.doc-explorer-narrow .doc-explorer-back {
  width: 0;
}

.graphql-docs-container .doc-explorer-back:before {
  border-left: 2px solid var(--brand-color);
  border-top: 2px solid var(--brand-color);
  content: '';
  display: inline-block;
  height: 9px;
  margin: 0 3px -1px 0;
  position: relative;
  transform: rotate(-45deg);
  width: 9px;
}

.graphql-docs-container .doc-explorer-rhs {
  position: relative;
}

.graphql-docs-container .doc-explorer-contents,
.graphql-docs-container .history-contents {
  background-color: var(--background);
  border-top: 1px solid var(--border-color);
  bottom: 0;
  left: 0;
  overflow-y: auto;
  padding: 20px 15px;
  position: absolute;
  right: 0;
  top: 47px;
}

.graphql-docs-container .doc-explorer-contents {
  min-width: 300px;
}

.graphql-docs-container .doc-type-description p:first-child,
.graphql-docs-container .doc-type-description blockquote:first-child {
  margin-top: 0;
}

.graphql-docs-container .doc-explorer-contents a {
  cursor: pointer;
  text-decoration: none;
  color: var(--link-color);
}

.graphql-docs-container .doc-explorer-contents a:hover {
  text-decoration: underline;
}

.graphql-docs-container .doc-value-description > :first-child {
  margin-top: 4px;
}

.graphql-docs-container .doc-value-description > :last-child {
  margin-bottom: 4px;
}

.graphql-docs-container .doc-type-description code,
.graphql-docs-container .doc-type-description pre,
.graphql-docs-container .doc-category code,
.graphql-docs-container .doc-category pre {
  font-size: 12px;
  line-height: 1.50001;
  font-variant-ligatures: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: normal;
  -webkit-tab-size: 4;
  -moz-tab-size: 4;
  tab-size: 4;
}

.graphql-docs-container .doc-type-description code,
.graphql-docs-container .doc-category code {
  padding: 2px 3px 1px;
  border: 1px solid var(--code-border-color);
  border-radius: 3px;
  background-color: var(--code-bg-color);
  color: var(--code-color);
}

.graphql-docs-container .doc-category {
  margin: 20px 0;
}

.graphql-docs-container .doc-category-title {
  border-bottom: 1px solid var(--border-color-light);
  color: var(--category-title-color);
  cursor: default;
  font-size: 14px;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 -15px 10px 0;
  padding: 10px 0;
  user-select: none;
}

.graphql-docs-container .doc-category-item {
  margin: 12px 0;
  color: var(--category-item-color);
}

.graphql-docs-container .keyword {
  color: var(--keyword-color);
}

.graphql-docs-container .type-name {
  color: var(--type-name-color);
}

.graphql-docs-container .field-name {
  color: var(--field-name-color);
}

.graphql-docs-container .field-short-description {
  color: var(--field-description-color);
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.graphql-docs-container .enum-value {
  color: var(--enum-value-color);
}

.graphql-docs-container .arg-name {
  color: var(--arg-name-color);
}

.graphql-docs-container .arg {
  display: block;
  margin-left: 1em;
}

.graphql-docs-container .arg:first-child:last-child,
.graphql-docs-container .arg:first-child:nth-last-child(2),
.graphql-docs-container .arg:first-child:nth-last-child(2) ~ .arg {
  display: inherit;
  margin: inherit;
}

.graphql-docs-container .arg:first-child:nth-last-child(2):after {
  content: ', ';
}

.graphql-docs-container .arg-default-value {
  color: var(--arg-default-value-color);
}

.graphql-docs-container .doc-deprecation {
  background: var(--deprecation-bg-color);
  box-shadow: inset 0 0 1px var(--deprecation-box-shadow-color);
  color: var(--deprecation-text-color);
  line-height: 16px;
  margin: 8px -8px;
  max-height: 80px;
  overflow: hidden;
  padding: 8px;
  border-radius: 3px;
}

.graphql-docs-container .doc-deprecation:before {
  content: 'Deprecated:';
  color: var(--deprecated-label-color);
  cursor: default;
  display: block;
  font-size: 9px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  padding-bottom: 5px;
  text-transform: uppercase;
  user-select: none;
}

.graphql-docs-container .doc-deprecation > :first-child {
  margin-top: 0;
}

.graphql-docs-container .doc-deprecation > :last-child {
  margin-bottom: 0;
}

.graphql-docs-container .show-btn {
  -webkit-appearance: initial;
  display: block;
  border-radius: 3px;
  border: solid 1px var(--btn-border-color);
  text-align: center;
  padding: 8px 12px 10px;
  width: 100%;
  box-sizing: border-box;
  background: var(--btn-bg-color);
  color: var(--btn-text-color);
  cursor: pointer;
}

.graphql-docs-container .search-box {
  border-bottom: 1px solid var(--searchbox-border-color);
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: -15px -15px 12px 0;
  position: relative;
}

.graphql-docs-container .search-box-icon {
  cursor: pointer;
  display: block;
  font-size: 24px;
  transform: rotate(-45deg);
  user-select: none;
  color: var(--text-color);
}

.graphql-docs-container .search-box .search-box-clear {
  background-color: var(--searchbox-clear-bg-color);
  border-radius: 12px;
  color: var(--searchbox-clear-text-color);
  cursor: pointer;
  font-size: 11px;
  padding: 1px 5px 2px;
  position: absolute;
  right: 3px;
  user-select: none;
  border: 0;
}

.graphql-docs-container .search-box .search-box-clear:hover {
  background-color: var(--searchbox-clear-hover-bg-color);
}

.graphql-docs-container .search-box > input {
  border: none;
  background-color: var(--background);
  color: var(--text-color);
  box-sizing: border-box;
  font-size: 14px;
  outline: none;
  padding: 6px 24px 8px 20px;
  width: 100%;
}

.graphql-docs-container .error-container {
  font-weight: bold;
  left: 0;
  letter-spacing: 1px;
  opacity: 0.5;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--text-color);
}
