
:root {
  --color-brand: #546de5;
  --color-sidebar-collection-item-active-indent-border: #d0d0d0;
  --color-sidebar-collection-item-active-background: #e1e1e1;
  --color-sidebar-background: #f3f3f3;
  --color-request-dragbar-background: #efefef;
  --color-request-dragbar-background-active: rgb(200, 200, 200);
  --color-tab-inactive: rgb(155 155 155);
  --color-tab-active-border: #546de5;
  --color-layout-border: #dedede;
  --color-codemirror-border: #efefef;
  --color-codemirror-background: rgb(243, 243, 243);
  --color-text-link: #1663bb;
  --color-text-danger: rgb(185, 28, 28);
  --color-background-danger: #dc3545;
  --color-method-get: rgb(5, 150, 105);
  --color-method-post: #8e44ad;
  --color-method-put: #8e44ad;
  --color-method-delete: #8e44ad;
  --color-method-patch: #8e44ad;
  --color-table-stripe: #f3f3f3;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: rgb(52 52 52);

  font-kerning: none;
  text-rendering: optimizeSpeed;
  letter-spacing: normal;
  font-family: Inter, sans-serif !important;
  overflow-x: hidden;
}

body {
  font-size: 0.875rem;
}

body::-webkit-scrollbar, .CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 0.6rem;
}
 
body::-webkit-scrollbar-track, .CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
 
body::-webkit-scrollbar-thumb, .CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
  border-radius: 5rem;
}

.text-link {
  color: var(--color-text-link);
}
