@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-brand: #546de5;
  --color-text: rgb(52 52 52);
  --color-sidebar-collection-item-active-indent-border: #d0d0d0;
  --color-sidebar-background: #f3f3f3;
  --color-request-dragbar-background: #efefef;
  --color-request-dragbar-background-active: rgb(200, 200, 200);
  --color-tab-inactive: rgb(155 155 155);
  --color-tab-active-border: #546de5;
  --color-layout-border: #dedede;
  --color-text-link: #1663bb;
  --color-text-danger: rgb(185, 28, 28);
  --color-background-danger: #dc3545;
  --color-method-get: rgb(5, 150, 105);
  --color-method-post: #8e44ad;
  --color-method-put: #ca7811;
  --color-method-delete: rgb(185, 28, 28);
  --color-method-patch: rgb(52 52 52);
  --color-method-options: rgb(52 52 52);
  --color-method-head: rgb(52 52 52);
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: rgb(52 52 52);

  font-kerning: none;
  text-rendering: optimizeSpeed;
  letter-spacing: normal;
  font-family: Inter, sans-serif !important;
  overflow-x: hidden;
}

body {
  font-size: 0.875rem;
}

body::-webkit-scrollbar,
.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track,
.CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

body::-webkit-scrollbar-thumb,
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background-color: #cdcdcd;
  border-radius: 5rem;
}

/*
 * Mac-specific scrollbar styling
 * This ensures that scrollbars are only visible when the user starts to scroll,
 * providing a cleaner and more minimalistic appearance.
 */
body.os-mac * {
  scrollbar-width: thin;
}

/*
 * todo: this will be supported in the future to be changed via applying a theme
 * making all the checkboxes and radios bigger
 * input[type='checkbox'],
 * input[type='radio'] {
 * transform: scale(1.1);
 * }
 */
